## Running the Dashboard

**NOTE** - While running, the app will never come back so the only way to stop it is to interrupt the kernal.

In [1]:
import oc_dash_load

gpd_df = oc_dash_load.load_satellite_data()
tle_df = oc_dash_load.load_intercept_data()

gpd_df.to_pickle('./data/satellite_data.pkl.gz')
tle_df.to_pickle('./data/intercept_data.pkl.gz')

100%|██████████████████████████████████████████████████████████████████████████████████| 85/85 [00:04<00:00, 19.70it/s]

In [ ]:
exec(open('./app.py').read())

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

In [3]:
import pandas as pd
df = pd.read_pickle('./data/satellite_data.pkl.gz')
df

,Unnamed: 0,CCSDS_OMM_VERS,COMMENT,CREATION_DATE,ORIGINATOR,OBJECT_NAME,OBJECT_ID,CENTER_NAME,REF_FRAME,TIME_SYSTEM,...,TLE_LINE1,TLE_LINE2,x,y,z,RCS_SIZE_NAME,description,allsat_marker_size,country,allsat_text
0,0,2.0,GENERATED VIA SPACE-TRACK.ORG API,2021-01-27T18:14:09,18 SPCS,TBA - TO BE ASSIGNED,NaN,EARTH,TEME,UTC,...,NO TLE FORMAT AVAILABLE 9997,NO TLE FORMAT AVAILABLE,NaN,NaN,NaN,Unknown,\n <p>\n Name: TBA...,4,Unknown,<b>Name</b>: TBA - TO BE ASSIGNED<br><b>Countr...
1,1,2.0,GENERATED VIA SPACE-TRACK.ORG API,2021-01-23T18:01:02,18 SPCS,TBA - TO BE ASSIGNED,NaN,EARTH,TEME,UTC,...,NO TLE FORMAT AVAILABLE 9997,NO TLE FORMAT AVAILABLE,NaN,NaN,NaN,Unknown,\n <p>\n Name: TBA...,4,Unknown,<b>Name</b>: TBA - TO BE ASSIGNED<br><b>Countr...
2,2,2.0,GENERATED VIA SPACE-TRACK.ORG API,2021-01-26T02:30:00,18 SPCS,TBA - TO BE ASSIGNED,NaN,EARTH,TEME,UTC,...,NO TLE FORMAT AVAILABLE 9997,NO TLE FORMAT AVAILABLE,NaN,NaN,NaN,Unknown,\n <p>\n Name: TBA...,4,Unknown,<b>Name</b>: TBA - TO BE ASSIGNED<br><b>Countr...
3,3,2.0,GENERATED VIA SPACE-TRACK.ORG API,2021-01-28T20:49:41,18 SPCS,TBA - TO BE ASSIGNED,NaN,EARTH,TEME,UTC,...,NO TLE FORMAT AVAILABLE 9997,NO TLE FORMAT AVAILABLE,NaN,NaN,NaN,Unknown,\n <p>\n Name: TBA...,4,Unknown,<b>Name</b>: TBA - TO BE ASSIGNED<br><b>Countr...
4,4,2.0,GENERATED VIA SPACE-TRACK.ORG API,2021-01-28T20:49:41,18 SPCS,TBA - TO BE ASSIGNED,NaN,EARTH,TEME,UTC,...,NO TLE FORMAT AVAILABLE 9997,NO TLE FORMAT AVAILABLE,NaN,NaN,NaN,Unknown,\n <p>\n Name: TBA...,4,Unknown,<b>Name</b>: TBA - TO BE ASSIGNED<br><b>Countr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46166,46166,2.0,GENERATED VIA SPACE-TRACK.ORG API,2021-01-29T02:31:30,18 SPCS,VANGUARD 2,1959-001A,EARTH,TEME,UTC,...,1 00011U 59001A 21028.98087371 .00000350 0...,2 00011 32.8668 288.6594 1467457 84.7071 291...,385.355217,-8110.909680,-1332.862233,Medium (0.1m^2 - 1m^2),\n <p>\n Name: VAN...,4,USA,<b>Name</b>: VANGUARD 2<br><b>Country</b>: USA...
46167,46167,2.0,GENERATED VIA SPACE-TRACK.ORG API,2004-08-15T23:35:20,18 SPCS,EXPLORER 4,1958-005A,EARTH,TEME,UTC,...,1 00009U 58005 A 59275.28696823 .00892850 +0...,2 00009 050.2549 082.4216 0254534 057.7226 303...,-4413.283233,704.435305,5043.202916,Unknown,\n <p>\n Name: EXP...,4,USA,<b>Name</b>: EXPLORER 4<br><b>Country</b>: USA...
46168,46168,2.0,GENERATED VIA SPACE-TRACK.ORG API,2004-08-15T23:35:23,18 SPCS,SPUTNIK 3,1958-004B,EARTH,TEME,UTC,...,1 00008U 58004 B 60095.16166626 .02607090 +0...,2 00008 065.0599 163.5585 0088318 135.6760 224...,-6265.543004,-1933.072760,-272.258735,Large (>1m^2),\n <p>\n Name: SPU...,5,Former USSR,<b>Name</b>: SPUTNIK 3<br><b>Country</b>: Form...
46169,46169,2.0,GENERATED VIA SPACE-TRACK.ORG API,2021-01-29T02:31:30,18 SPCS,VANGUARD 1,1958-002B,EARTH,TEME,UTC,...,1 00005U 58002B 21028.73556114 -.00000069 0...,2 00005 34.2573 254.2361 1847896 286.1633 54...,8621.926636,1100.013418,5345.627494,Medium (0.1m^2 - 1m^2),\n <p>\n Name: VAN...,4,USA,<b>Name</b>: VANGUARD 1<br><b>Country</b>: USA...
46170,46170,2.0,GENERATED VIA SPACE-TRACK.ORG API,2004-08-15T23:37:47,18 SPCS,EXPLORER 1,1958-001A,EARTH,TEME,UTC,...,1 00004U 58001 A 70090.03500497 .07718844 +0...,2 00004 033.1468 334.6171 0024739 311.5310 048...,-4653.724454,3362.570723,-3207.995261,Unknown,\n <p>\n Name: EXP...,4,USA,<b>Name</b>: EXPLORER 1<br><b>Country</b>: USA...

    OBJECT_TYPE  year  Count
0        DEBRIS  1958      2
1        DEBRIS  1959      5
2        DEBRIS  1960     36
3        DEBRIS  1961    378
4        DEBRIS  1962    489
..          ...   ...    ...
123     PAYLOAD  2017   7489
124     PAYLOAD  2018   7858
125     PAYLOAD  2019   8266
126     PAYLOAD  2020   9459
127     PAYLOAD  2021   9460

[128 rows x 3 columns]

    OBJECT_TYPE  year  Count
0        DEBRIS  1960     10
1        DEBRIS  1961     43
2        DEBRIS  1962    122
3        DEBRIS  1963    167
4        DEBRIS  1964    229
..          ...   ...    ...
120     PAYLOAD  2017   3064
121     PAYLOAD  2018   3176
122     PAYLOAD  2019   3259
123     PAYLOAD  2020   3370
124     PAYLOAD  2021   3374

[125 rows x 3 columns]